USE [master]
GO
/****** Object:  Database [C:\MOVIERENTALASSIGNMENT\DB.MDF]    Script Date: 10/30/2018 17:24:25 ******/
CREATE DATABASE [C:\MOVIERENTALASSIGNMENT\DB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db', FILENAME = N'C:\MovieRentalAssignment\db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_log', FILENAME = N'C:\MovieRentalAssignment\db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\MOVIERENTALASSIGNMENT\DB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\MOVIERENTALASSIGNMENT\DB.MDF]
GO
USE [C:\MOVIERENTALASSIGNMENT\DB.MDF]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/30/2018 17:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(10,1) NOT NULL,
	[fname] [nvarchar](255) NULL,
	[lname] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[phoneno] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 10/30/2018 17:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[id] [int] IDENTITY(10,1) NOT NULL,
	[rating] [nvarchar](50) NULL,
	[title] [nvarchar](255) NULL,
	[year] [nvarchar](255) NULL,
	[rentalcost] [money] NULL,
	[copies] [nvarchar](50) NULL,
	[plot] [ntext] NULL,
	[genre] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentedMovies]    Script Date: 10/30/2018 17:24:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentedMovies](
	[id] [int] IDENTITY(10,1) NOT NULL,
	[movieidfk] [int] NULL,
	[custidfk] [int] NULL,
	[rentedon] [datetime] NULL,
	[returnedon] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RentedMovies]  WITH CHECK ADD FOREIGN KEY([custidfk])
REFERENCES [dbo].[Customer] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentedMovies]  WITH CHECK ADD FOREIGN KEY([movieidfk])
REFERENCES [dbo].[Movies] ([id])
ON DELETE CASCADE
GO
USE [master]
GO
